<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="UTF-8">
<title>Admin-Home</title>
</head>
<body style="background-color:azure;">
<br>

<h1  align="center" style="background-color:DodgerBlue;">Sporty Shoes</h1>
<h2  style="color:Tomato;" align="center">Admin Home</h2>
<br><br>
<a th:href="@{/adminhome}">Home</a>&nbsp;&nbsp;
<a th:href="@{/logout}">LogOut</a>                 &nbsp;&nbsp;
<br><br>
<h3  style="color:green" align="center">Change My Password</h3>

<form action="#" th:action="@{/adminpassword}" method="post">
<fieldset>
Enter Username <input type="text" name="username"><br>
<br>
Old Password<input type="password" name="oldpassword"><br>
<br>
New Password<input type="password" name="newpassword"><br>
<br>
<input type="submit" value="update">
</fieldset>
</form>
<br>
<br>
<h3  align="center" style="background-color:DodgerBlue;">@2022 Sportyshoes.com</h3>

</body>
</html>