<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="UTF-8">
<title>Admin-Home</title>
</head>
<body style="background-color:azure;">
<br>

<h1  align="center" style="background-color:DodgerBlue;">Sporty Shoes</h1>
<h2  style="color:Tomato;" align="center">Customer Home</h2>
<br>
<div  >
</div>
<br>
<div style="text-align:center">
<h2  style="color:brown;" align="center">Welcome Back!!</h2>
<br>

<a th:href="@{/seeProducts}">**  Visit Products **</a><br><br><br>
<a th:href="@{/visitcart}">*** Go to Cart ***</a><br><br><br>
<a th:href="@{/clogout}">****  LogOut  ****</a><br><br><br>
</div>
<br>
<br>
<h3  align="center" style="background-color:DodgerBlue;">@2022 Sportyshoes.com</h3>

</body>
</html>