<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="UTF-8">
<title>Sport Shoes</title>
</head>
<body style="background-color:azure;">
<div style="text-align:center">

<br>
<br>
<h4 th:text="${action}"></h4>
<h1  align="center"style="background-color:DodgerBlue;">Sporty Shoes</h1>
<h2 style="color:Tomato;">Admin Login</h2>

<br/>
<form action="#" th:action="@{/checkuser}" method="post">
		<br/>
		<br/>
		<fieldset>
		<legend> Admin Login</legend> <br/>
		User name: <input name="username" type="text" /> <br/>
		<br/>
	    Password: <input name="password"  type="password"/> <br/>
	    <br/>
		<input type="submit" value="Sign In" /><br>
		<br>
		</fieldset>
		
</form>
</div>
<br>
<br>
<br>
<h3  align="center" style="background-color:DodgerBlue;">@2022 Sportyshoes.com</h3>
</body>
</html>